node_modules
.env

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/coverage/*
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
covai.yaml

# covai pip install files
/covai/covai/__pycache__/
/covai/covai.egg-info/
