node_modules
.env
.venv/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/coverage/*
/coverage_after/*
/covai/
**/covai.yaml

.venv/

/tests/load-test/reports/*
/ai_generated_tests/*
